*{
  margin: 0;
}

html{
  width: 100vw;
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  position: relative;
  top: 50px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-self: center;
}


.login-boxes{
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: relative;
  top: 150px;
  gap: 20px;
}

.username, .password{
  padding-left: 10px; padding-right: 10px;
  height: 30px;
  width: 230px;
}

.forgot-btn{
  position: relative;
  top: 155px;
  text-align: center;
  font-size: 13px;
  color: black;
}

.login-btn{
  text-align: center;
  position: relative;
  top: 300px;
  
}

.login-btn:hover{
  cursor: pointer;
}

.reset-password{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  gap: 15px;
}

.new-pass, #confirm-pass{
  padding-left: 10px; padding-right: 10px;
  height: 30px;
  width: 230px;
}

.ans-security{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  top: 200px;
}








